{% extends 'base.html' %}
<div class="container">
    <div class="row">
{% block content %}
<br><br><br><br>
{% for s in sports%}

<div class="col-md-3">



        <div class="panel panel-info">
    <div class="panel-heading">
    <h2 class="panel-title">Sports</h2>

</div>

    <div class="panel-body">
<p>"{{s.description}}"</p>
    </div>
<p>Posted by {{s.user.username}}</p>
    <div class="panel-footer">
<p><a href="/comments/{{s.id}}">Comment</a></p>
    </div>
        </div>
</div>



{% endfor %}


{% endblock%}
          </div>
</div>